configfolderpath = "{{.ConfigFolderPath}}"
talosctlfolderpath = "{{.TerraformModulesDirPath}}"
AWS_ACCESS_KEY = "{{.AwsAccessKey}}"
AWS_SECRET_KEY = "{{.AwsSecretKey}}"
albname = "{{.AlbName}}"
privatesubnet = "{{.PrivateSubnet}}"
region = "{{.Region}}"
securitygroupname = "{{.SecurityGroupName}}"
vpccidr = "{{.VpcCidr}}"
vpcname = "{{.VpcName}}"
instance_type = "{{.InstanceType}}"
nodemonitoringenabled = "{{.NodeMonitoringEnabled}}"
mastercount = "{{.MasterCount}}"
workercount = "{{.WorkerCount}}"
traefikhttpport = "{{.TraefikHttpPort}}"
traefikhttpsport = "{{.TraefikHttpsPort}}"
talostg = "{{.TalosTg}}"
traefik_tg_80_name = "{{.TraefikTg80Name}}"
traefik_tg_443_name = "{{.TraefikTg443Name}}"
traefiklbname = "{{.TraefikLbName}}"