AWS_ACCESS_KEY = "{{.AwsAccessKey}}"
AWS_SECRET_KEY = "{{.AwsSecretKey}}"
albname = "{{.AlbName}}"
privatesubnet = "{{.PrivateSubnet}}"
region = "{{.Region}}"
securitygroupname = "{{.SecurityGroupName}}"
vpccidr = "{{.VpcCidr}}"
vpcname = "{{.VpcName}}"
instance_type = "{{.InstanceType}}"
nodemonitoringenabled = "{{.NodeMonitoringEnabled}}"
mastercount = "{{.MasterCount}}"
workercount = "{{.WorkerCount}}"