configfolderpath = "{{.ConfigFolderPath}}"
talosctlfolderpath= "{{.TerraformModulesDirPath}}"
region = "{{.Region}}"
wokerscalesetname = "{{.Workerscalesetname}}"
masterstaticname = "{{.Masterstaticname}}"
workerstaticname = "{{.Workerstaticname}}"
masterscalesetname = "{{.Masterscalesetname}}"
subscription_id = "{{.Subscription_id}}"
tfstatergname = "{{.Tfstatergname}}"
tfstatesaname = "{{.Tfstatesaname}}"
tfstatecontname = "{{.Tfstatecontname}}"
 

nics = [
{{- range .NICs }}
  "{{ . }}",
{{- end }}
]
workernics = [
{{- range .WorkerNics }}
  "{{ . }}",
{{- end }}
]
instancetype = "{{.InstanceType}}"
publicipname = [
{{- range .PublicIPName }}
  "{{ . }}",
{{- end }}
]
traefikhttpport = "{{.TraefikHttpPort}}"
traefikhttpsport = "{{.TraefikHttpsPort}}"
talosrgname = "{{.Talosrgname}}"
storagergname = "{{.Storagergname}}"
storage_account_name = "{{.Storage_account_name}}"
talos_imagecont_name = "{{.Talos_imagecont_name}}"
talos_cluster_name = "{{.Talos_cluster_name}}"
nats_client_port = "{{.Nats_client_port}}"
